/* General Reset */
body, h1, h2, ul, li, a{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body Styles */

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f8f9fa;
    color: #333;
    padding: 20px;
}

/* Header Styles */
h1 {
    font-size: 2.5rem;
    color: #5a5a5a;
    text-align: center;
    margin-bottom: 20px;
}

h2 {
    font-size: 2rem;
    color: #444;
    margin-bottom: 10px;
}

/* Navigation Styles */
ul {
    list-style-type: none;
    padding-left: 0%;
    max-width: 600px;
    margin: 0 auto;
}

li{
    margin: 10px 0;
}

/* Button Styles */
button {
    background-color: #007bff;
    color: white;
    font-weight: bold;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    width: 200px;
    text-align: center;
    margin: 10px auto;
    transition: background-color 0.3s; transform: 0.2s;
}

button hover {
    background-color: #0056b3;
    transform: scale(1.05);
}
